body{
  margin: 0px;
}

/* Dropdown style */
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkgray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-left: -80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .selected{
  background-color: grey;
}

/*Progress bar*/
#progressBorder{
    height: 15px;
    width: 99.6%;
    background-color: transparent;
    border: 2px solid black;
}
#progressBar{
    height: 15px;
    width: 300px;
    background-color: green;
}
#statusWrapper div{
    display: inline-block;
    width: 19.5%;
}
#statusWrapper div:last-child{
  display: inline-block;
  width: 19.5%;
  text-align: right;
}
#statusWrapper div:nth-child(3), #statusWrapper div:nth-child(4){
  display: inline-block;
  width: 19.5%;
  text-align: center;
}

/*Update Log*/
#updateLog{
  width: 60%;
  height: 300px;
  overflow-y: auto;
  border: 2px solid black;
  margin-left: 50px;
}
#updateLog h1{
  display: inline-block;
}

/*Budget pies*/
#budgetPie{
  height: 300px;
}
#budgetPie svg{
  width: 300px;
  height: 200px;
}