body{
  margin: 0px;
}
/*Logout*/
.logout{
position: absolute;
right: 5%;
top: 3%;
color: #0645AD;
}
#success-message{
  width: 100%;
  text-align: center;
  color: #EB5757;
}
#save{
  position: absolute;
  top: 5%;
  right: 13%;
  font-size: xx-large;
  cursor: pointer;
}
.btn{
  background-color: transparent;
  border: 0px;
}
#delete-bttn{
  position: absolute;
  top: 5%;
  right: 7%;
  font-size: xx-large;
  cursor: pointer;
}

/* Dropdown style */
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkgray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-left: -80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .selected{
  background-color: grey;
}

/*Progress bar*/
#statusWrapper div{
  /* margin-top: 10px; */
  /* margin-bottom: 30px; */
  text-align: center;
  display: inline-block;
  width: 19.5%;
}

.status-title {
  width: 100%;
  text-align: center;
}

.progress {
  height: 40px;
  border-radius: 20px;
}

.progress-bar {
  background: linear-gradient(90deg, #5BCA34 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(270deg, #51EE1A 0%, rgba(255, 255, 255, 0) 100%), #50E60A;
  height: 40px;
}
/* #statusWrapper div:last-child{
  display: inline-block;
  width: 19.5%;
  text-align: right;
} */
/* #statusWrapper div:nth-child(3), #statusWrapper div:nth-child(4){
  display: inline-block;
  width: 19.5%;
  text-align: center;
} */

/*Overall status*/
#projectsInSection,
#budgetBySection,
#projectsByFinancier,
#moneyByFinancier {
  display: inline-block;
  width: 100%;
}

/*Update Log*/
#updateLog{
  width: 100%;
  height: 300px;
  overflow-y: auto;
  border: 2px solid #828282;
  border-radius: 15px;
  padding: 10px;
  overflow-x: hidden;
}

.updateData{
  font-size: 1rem;
}

#updateLog h1{
  display: inline-block;
}

#budgetPie, #allBudgetPie{
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #828282;
  height: 300px;
  width: 100%;
  display: inline-block;
}