html, body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}


table .header {
    background: #F2F2F2;
}

.table-column {
    padding: 2rem !important;
}

td {
    cursor: pointer;
}

.status-text {
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 7px;
    text-transform: uppercase;
}

.search-container {
    border: 2px solid #EDEDED;
    border-radius: 50px;
}

.search-icon {
    margin-left: 15px;
    width: 15px;
    height: 15px;
}

.clear-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.search-form {
    border: none;
    padding: 5px;
    width: calc(100% - 70px);
}

.search-form:focus {
    outline: none;
}

.project-search-table {
    width: 50%;
}

.projects-title-column {
    width: 50%;
}

.col2-style {
    height: 40px;
    padding: 0;
    margin-bottom: 20px;
}

.title-container {
    margin: 5px!important;
    margin-top: 40px!important;
}

.title-style {
    font-weight: bold;
    font-size: 1.5rem;
    vertical-align: middle;
}

.img-style {
    width: 1.5rem;
    height: 1.5rem;
}

header {
    background: white;
    margin-bottom: 30px;
}

header .col-md {
    height: 120px;
    position: relative;
}

header .col-md div {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

header .center {
    left: 50%;
}

.header-left {
    left: 15px;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.header-right {
    right: 15px;
}

.header-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-logo {
    height: 120px;
}

.admin-button {
    background: #E0E0E0;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
}

.admin-icon {
    width: 20px;
    height: 20px;
}

.select-container {
    width: 100%;
}

.clear-button {
    color: white;
    background: #EA565C;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-select {
    margin: 5px;
}

.select-container div {
    margin: 0 auto;
    width: 75%;
}

.no-margin {
    padding: 0!important;
}

.individual-main-container {
    padding: 50px!important;
}

.coordination-text {
    display: inline-block;
}

.coordination-name {
    color: #828282;
    font-size: 0.8rem;
    margin: 0;
}

.coordination-tel {
    display: inline-block;
    margin-top: 5px;
}

.avatar-icon {
    vertical-align: super;
}

.individual-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

/* LOGIN PAGE */

.error {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.my-container {
    background: white;
    margin: 0 auto;
}

.login-tilte {
    margin-top: 30px;
}

.login-container {
    border: 2px solid #EDEDED;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.login-icon {
    margin-left: 15px;
    width: 15px;
    height: 15px;
}

.login-button {
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
    width: 30%;
    color: #219653;
    background: rgb(33, 150, 83, 0.3);
    border: 2px solid #219653;
    font-weight: bold;
}

.login-button:hover, .login-button:active:focus {
    background: rgb(33, 150, 83) !important;
    border: 2px solid #219653 !important;
}

.login-icon-submit {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.clear-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.login-form {
    border: none;
    padding: 10px;
    width: calc(100% - 50px);
}

.login-form:focus {
    outline: none;
}

.form-signin .center {
    width: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    .login-tilte, .login-image {
        margin-top: 0;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .my-container {
        max-width: 55%;
    }
}

@media (min-width: 992px) {
    .my-container {
        max-width: 45%;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 35%;
    }
}

/* NEW PROJECT */

.new-project-my {
    padding: 64px !important;
}

.new-middle-part {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px 20px;
}

.my-new-name {
    height: 77%;
}